Client/Service References/ServiceReference1/BSRBankWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BSRBankWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BSRBankWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ErrorMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Message">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ErrorMessage" nillable="true" type="tns:ErrorMessage" />
  <xs:complexType name="ResultMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Message">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultMessage" nillable="true" type="tns:ResultMessage" />
</xs:schema>