Client/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSRBankWCF.Models" />
  <xs:element name="GetUserAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credentials" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BSRBankWCF.Models" minOccurs="0" name="GetUserAccountsResult" nillable="true" type="q1:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BSRBankWCF.Models" minOccurs="0" name="AddUserResult" nillable="true" type="q2:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BSRBankWCF.Models" minOccurs="0" name="ValidateUserResult" nillable="true" type="q3:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawDepositMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BSRBankWCF.Models" minOccurs="0" name="withdrawDeposit" nillable="true" type="q4:WithdrawDeposit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawDepositMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BSRBankWCF.Models" minOccurs="0" name="WithdrawDepositMoneyResult" nillable="true" type="q5:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteExternalTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BSRBankWCF.Models" minOccurs="0" name="transfer" nillable="true" type="q6:Transfer" />
        <xs:element minOccurs="0" name="accountTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="credentials" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteExternalTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BSRBankWCF.Models" minOccurs="0" name="ExecuteExternalTransferResult" nillable="true" type="q7:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteInternalTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BSRBankWCF.Models" minOccurs="0" name="transfer" nillable="true" type="q8:Transfer" />
        <xs:element minOccurs="0" name="accountTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="credentials" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteInternalTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BSRBankWCF.Models" minOccurs="0" name="ExecuteInternalTransferResult" nillable="true" type="q9:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credentials" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BSRBankWCF.Models" minOccurs="0" name="GetUsersHistoryResult" nillable="true" type="q10:ArrayOfHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credentials" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BSRBankWCF.Models" minOccurs="0" name="CreateBankAccountResult" nillable="true" type="q11:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>